.displayLarge {
  line-height: 64px;
  font-size: 57px;
  letter-spacing: -0.004385964912281px;
  font-weight: 400;
}

.displayMedium {
  line-height: 52px;
  font-size: 45px;
  letter-spacing: 0px;
  font-weight: 400;
}

.displaySmall {
  line-height: 44px;
  font-size: 36px;
  letter-spacing: 0px;
  font-weight: 400;
}

.headlineLarge {
  line-height: 40px;
  font-size: 32px;
  letter-spacing: 0px;
  font-weight: 400;
}

.headlineMedium {
  line-height: 36px;
  font-size: 28px;
  letter-spacing: 0px;
  font-weight: 400;
}

.headlineSmall {
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 400;
}

.titleLarge {
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 0px;
  font-weight: 500;
}

.titleMedium {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.009375px;
  font-weight: 500;
}

.titleSmall {
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.007142857142857px;
  font-weight: 500;
}

.labelLarge {
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.007142857142857px;
  font-weight: 500;
}

.labelMedium {
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.041666666666667px;
  font-weight: 500;
}

.labelSmall {
  line-height: 16px;
  font-size: 11px;
  letter-spacing: 0.045454545454545px;
  font-weight: 500;
}

.bodyLarge {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.03125px;
  font-weight: 400;
}

.bodyMedium {
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.017857142857143px;
  font-weight: 400;
}

.bodySmall {
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.033333333333333px;
  font-weight: 400;
}
